body { font-family: Arial; margin: 0; background: #f6fff5; }
header { background: #28a745; padding: 15px; text-align: center; color: white; }
nav a { color: white; margin: 0 10px; text-decoration: none; font-weight: bold; }
.hero { text-align: center; padding: 50px; }
.btn { background: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 6px; }
.product-list { display: flex; flex-wrap: wrap; justify-content: center; padding: 20px; }
.product-card { background: white; padding: 15px; margin: 10px; width: 180px; border-radius: 8px; text-align: center; }
footer { background: #ddd; padding: 10px; text-align: center; margin-top: 30px;}
.checkout-form { display: flex; flex-direction: column; padding: 20px; gap: 12px; }
